*{
    margin: 0;
}

body{
    /* background-color:#242424 !important; */
    background-image: url("./wavesLaptop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.link-box a{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: #242424;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px black;
}

.navbar a:hover{
    color: white;
}

.link-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: baseline;
}

.navbar h1{
    font-family: "Righteous", sans-serif !important;
}

h1{
    font-weight: 400;
    font-style: normal;
    color: black !important;
    text-align: center;
    font-size: 3em;
}

.post-container h1{
    background-color: #706BC6;
}

.navbar{
    background-color: #37337B !important;

}

.card-link{
    background-color: #706BC6 !important;
    color: #242424 !important;
}

.card-link:hover{
    background-color: #282e3c !important;
    color: #E1E0EF !important;
}

.card-body{
    background-color: #A6A4D6;
    color: black !important;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.616), inset 0px 0px 40px 5px #37337B;
    transition: all 0.5s;
}

.card-body:hover{
    background-color: #4943c9;
}

.card{
    border: none !important;
    background-color: #242424 !important;
    border-radius: 15px !important;
}

.blog-container{
    border: 3px solid #988829;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: #242424;
    height: 100%;
}

.blog-container::-webkit-scrollbar{
    display: none;
}

.articleTitle{
    background-color: #988829;
    height: fit-content;
    padding: 5px;
}

input[type=submit]{
    margin-top: 20px;
    background-color: #282e3c;
    border: none;
    border-radius: 10px;
    color: red;
    width: fit-content;
}

input[type=submit]:hover{
    background-color: red;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Poppins';
    font-weight: 700 !important;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */
    color: #242424 !important;
}

small {font-size: 0.750rem; /* 12px */}

.option-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
    column-gap: 40px;
}

.edit{
    border-radius: 10px;
    font-family: 'Poppins';
    border: none;
    padding: 5px;
    flex: 2;
    font-weight: 600 !important;
    background-color: #37337B;
    box-shadow: 5px 5px #242424;
}

.edit:hover{
    background-color: darkblue;
    color: white;
}











main{
    flex: 1;
}


footer{
    position: absolute;
    bottom: 0;
    background-color: #37337B;
    width: 100%;
}


footer p{
    padding: 5px;
    color: black;
}