*{
    margin: 0;
}

body{
    background-color:#282e3c !important;
    display: flex;
    flex-direction: column;
}

.link-box a{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: #242424;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.link-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: baseline;
}

h1{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black !important;
    text-align: center;
    font-size: 3em;
}

.post-container h1{
    background-color: #988829;
}

.navbar{
    background-color: #fdff00 !important;
    /* box-shadow: 0px 10px 10px #988829; */

}

.post-container h5{
    color: #fdff00 !important;
    font-family: "Righteous", sans-serif;
}

.post-container h6{
    color: #988829 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-link{
    background-color: #282e3c !important;
}

.card-link:hover{
    background-color: white !important;
    color: #242424;
}

.card-body{
    background-color: #242424;
    color: white !important;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px #242424;
}

.card{
    border: none !important;
    background-color: #282e3c !important;
}

.blog-container{
    border: 3px solid #988829;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: #242424;
    height: 100%;
}

.blog-container::-webkit-scrollbar{
    display: none;
}

.blog-container p{
    padding: 15px;
    text-align: left;
    color: white;
}

h3{
    width: 100%;
    text-align: center;
}

.articleTitle{
    background-color: #988829;
    height: fit-content;
    padding: 5px;
}

input[type=submit]{
    margin-top: 20px;
    background-color: #282e3c;
    border: none;
    border-radius: 10px;
    color: red;
    
}

input[type=submit]:hover{
    background-color: red;
    color: white;
}


















main{
    flex: 1;
}


footer{
    position: absolute;
    bottom: 0;
    background-color: #fdff00;
    width: 100%;
}


footer p{
    padding: 5px;
    color: black;
}