*{
    margin: 0;
}

body{
    background-image: url("./Newblog.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

@font-face{
    font-family: 'After smile';
    src: url("./AfterSmileRegular-K7M3y.otf");
    font-weight: bold;
}

.navbar h1{
    font-family: "Righteous", sans-serif !important;
}

.post-container h1{
    background-color: #706BC6;
    font-weight: 400;
    font-style: normal;
    color: black !important;
    text-align: center;
    font-size: 3em;
    font-family: 'After smile';
}

.navbar{
    background-color: #37337B !important;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Newblog{
    width: auto;
    margin: 20px 10%;
    background-color: #A6A4D6 !important;
    padding: 50px;
    border-radius: 15px;
}

.Newblog input{
    margin-bottom: 10px;
    box-shadow: 5px 5px #37337B;
}

textarea{
    box-shadow: 5px 5px #37337B;
}

#content{
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
    border-radius: 8px;
    padding: 10px;
}

label{
    color: #37337B;
}

#submit{
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 5px 5px #37337B;
}

#submit:hover{
    background-color: #37337B;
    box-shadow: 5px 5px #706BC6;
    color: white;
}

h1, h2, h3, h4, h5, p, label{
    font-family: 'Poppins';
    font-weight: 700 !important;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */
    color: #242424 !important;
}

small {font-size: 0.750rem; /* 12px */}














main{
    flex: 1;
}


footer{
    position: absolute;
    bottom: 0;
    background-color: #37337B;
    width: 100%;
}


footer p{
    padding: 5px;
    color: black;
}